.content {
    max-width: 1400px;
    margin: 0 auto;
}

body {
    margin: 0 0 0 0;
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin-left: 4%;
    margin-bottom: 0.6%;
}

p {
    margin-left: 4%;
    margin-bottom: 1%;
}

::placeholder {
    color: black;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.bordure_bouton {
    border: 2px #F2F2F2 solid;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity:hover {
    color: #0065FC;
    border-top: 3px #0065FC solid;
    padding-top: 15%;
}

.lodging:hover {
    color: #0065FC;
    border-top: 3px #0065FC solid;
    padding-top: 15%;
}

.header_logo {
    width: 50%;
    margin-left: 40%;
    margin-bottom: 18%;
}

.header_link,
a {
    margin-right: 45px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

.form_button {
    width: 15%;
    max-width: 132px;
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.form_button i {
    display: none;
}

.icon_dot {
    margin-left: 4%;
    display: flex;
    width: 50px;
    height: 49px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    text-align: center;
}

.icon_dot i {
    margin: auto;
}

.form {
    display: flex;
}

.filter_container {
    display: flex;
    align-items: flex-start;
}

.filter_container i {
    color: #0065FC;
}

.filter {
    font-weight: 700;
    padding: 0.9% 0.5% 0.5% 0.5%;
    margin: 0.5% 0.5% 0.5% 3.8%;
}

.filter_economic {
    padding: 0.7%;
    margin: 0.7%;
    border: 1px solid #D9D9D9;
    border-radius: 15px 15px 15px 15px;
}

.filter_economic:hover {
    background-color: #deebff;
}

.filter_family {
    padding: 0.7%;
    margin: 0.7%;
    border: 1px solid #D9D9D9;
    border-radius: 15px 15px 15px 15px;
}

.filter_family:hover {
    background-color: #deebff;
}

.filter_romantic {
    padding: 0.7%;
    margin: 0.7%;
    border: 1px solid #D9D9D9;
    border-radius: 15px 15px 15px 15px;
}

.filter_romantic:hover {
    background-color: #deebff;
}

.filter_pets_allowed {
    padding: 0.7%;
    margin: 0.7%;
    border: 1px solid #D9D9D9;
    border-radius: 15px 15px 15px 15px;
}

.filter_pets_allowed:hover {
    background-color: #deebff;
}

.information_container {
    display: flex;
    align-items: center;
}

.information_logo {
    display: flex;
    width: 1.8%;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    margin-right: 1%;
    margin-left: 4%;
}

.information_logo i {
    color: #0065FC;
    margin: auto;
}

.main_content {
    display: flex;
    justify-content: space-around;
    margin: 1.8% 0 0 1.8%
}

.container_lodging_in_marseille {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 62%;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.container_lodging_in_marseille h2 {
    margin: 4.5% 35% 0 4.5%;
}

.card_lodging_in_marseille {
    margin-top: 4%;
    margin-left: 4%;
    background-color: #FFFFFF;
    width: 27%;
    height: 199px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    image-rendering: pixelated;

}

.card_lodging_in_marseille img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.card_lodging_in_marseille:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card_text_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
    overflow-wrap: break-word;
    padding: 2px 4px;
}

.text_style {
    font-weight: Bold;
    white-space: nowrap;
    text-overflow: clip;
}

.stars {
    padding-left: 4px;
    color: #0065FC;
}

i:nth-child(5) {
    color: #D9D9D9;
}

.text_show_more {
    font-weight: 700;
    margin: 40px 0 46px 46px;
}

.text_show_more:hover {
    border-bottom: 2px black solid;
    cursor: pointer;
}

.most_popular_container {
    width: 29%;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.most_popular_title_icon_container {
    display: flex;
    justify-content: space-between;

}

.most_popular_title_icon_container h2 {
    padding-top: 5%;
    padding-left: 7%;
}

.most_popular_title_icon_container i {
    color: #0065FC;
    margin: 12% 9% 0 0;
}

.card_must_popular {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 144px;
    background-color: white;
    border-radius: 20px;
    transition: 0.3s;
    margin: 3% 3% 8% 4%;
    image-rendering: pixelated;
    cursor: pointer;
}

.image_1_must_popular {
    width: 90.39%;
}

.image_2_must_popular {
    width: 121.7%;
}

.image_3_must_popular {
    width: 79.41%;
}

.card_must_popular img {

    object-fit: cover;
    width: 100%;
    height: 134px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0 0 20px;
}

.card_must_popular:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card_stars_text_must_popular_container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-bottom: 10px;
    margin-left: 10px;
}

.stars_must_popular {
    display: flex;
}

.card_text_style_must_popular {
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}

.stars_must_popular {
    color: #0065FC;
}

.card_activity {
    width: 100%;
    height: auto;
    margin: 0 3% 0 3%;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#activités {
    display: block;
}

.card_activity img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    height: 85%;
    object-fit: cover;
}

.text_style_card_activity {
    font-size: 90%;
    font-style: normal;
    font-weight: 700;
    margin: 4% 0 4% 4%;
}

.activity_all_cards_container {
    display: flex;
    justify-content: space-between;
}

.title_activity_container {
    margin: 55px 0 0 50px;
}

footer {
    padding: 0 5% 0 5%;
}

.footer_content_container {
    margin: 4% 4% -1% 0%;
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    width: 100%;
    height: 100%;
}

li:nth-child(1) {
    font-weight: bold;
    margin-top: 10%;
}

li {
    margin-bottom: 10%;
    list-style-type: none;
}

li:hover {
    cursor: pointer;

}

@media all and (min-width: 769px) and (max-width: 992px) {

    .main_content {
        flex-direction: column;
        margin-left: 4%;
        margin-right: -4%;
    }

    .most_popular_container {
        width: 95%;
        margin-top: 4%;
    }

    .most_popular_title_icon_container h2 {
        padding-top: 4%;
        padding-left: 4%;
        padding-right: 4%;
    }

    .must_popular_all_cards_container {
        display: flex;

    }

    .card_must_popular {
        margin: 3% 3% 4% 3%;
    }

    .container_lodging_in_marseille {
        width: 95%;
    }

    .most_popular_title_icon_container i {
        margin: 5% 5% 0% 0%;
    }
}

@media screen and (max-width: 768px) {

    .header_content {
        flex-direction: column;
    }

    .header_logo {
        width: 25%;
        margin: auto;
    }

    .header_link,
    a {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 0%;
        margin-right: 0;

    }

    .activity {
        border-width: 500px;
        border-bottom: 3px #F2F2F2 solid;
        padding-top: 10%;
        padding-bottom: 1%;
    }

    .lodging {
        border-bottom: 3px #F2F2F2 solid;
        padding-bottom: 1%;
        border-top: none;
        padding-top: 10%;
    }

    .activity:hover {
        border-bottom: 3px #0065FC solid;
        padding-bottom: 1%;
        border-top: none;
        padding-top: 10%;
    }

    .lodging:hover {
        border-bottom: 3px #0065FC solid;
        padding-bottom: 1%;
        border-top: none;
        padding-top: 10%;
    }

    .filter_container {
        display: flex;
        margin-top: 7%;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .filter {
        font-weight: 700;
        padding: 0.9% 40% 0.5% 1.5%;
    }

    .filter_economic {
        white-space: nowrap;
        overflow: hidden;
        width: 35%;
        padding: 2% 2% 2% 2%;
        margin: 1% 8% 3% 6%;
        border-radius: 25px;
    }

    .filter_family {
        white-space: nowrap;
        overflow: hidden;
        width: 35%;
        padding: 2% 2% 2% 2%;
        margin: 1% 0% 3% 0%;
        border-radius: 25px;
    }

    .filter_romantic {
        white-space: nowrap;
        overflow: hidden;
        padding: 2% 2% 2% 2%;
        margin: 1% 8% 3% 6%;
        width: 35%;
        border-radius: 25px;
    }

    .filter_pets_allowed {
        white-space: nowrap;
        overflow: hidden;
        width: 35%;
        padding: 2% 2% 2% 2%;
        margin: 1% 0% 3% 0%;
        border-radius: 25px;
    }

    .main_content {
        margin: 0 0 0 0;
        flex-direction: column-reverse;
        margin-left: 0%;
        margin-right: 0%;
    }

    .most_popular_container {
        align-items: center;
        width: 100%;
        margin: auto;
        border-radius: 0px;
    }

    .must_popular_all_cards_container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .card_must_popular {
        width: 83%;
        padding-right: 10%;
    }

    .container_lodging_in_marseille {
        background-color: #FFFFFF;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 90%;
    }

    .container_lodging_in_marseille h2 {
        margin: 4.5% 0% 0 4.5%;
    }

    .card_lodging_in_marseille {
        margin-left: 0;
        padding-bottom: 10%;
        background-color: #FFFFFF;
        width: 98%;
    }

    .card_lodging_in_marseille img {
        width: 100%;
        height: 160px;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
    }

    .stars_must_popular {
        margin-right: 50%;
    }

    .text_show_more {
        display: none;
    }

    .activity_all_cards_container {
        flex-direction: column;
    }

    .card_activity {
        margin: auto;
        width: 90%;
        margin-bottom: 5%;
    }

    .card_activity img {

        max-height: 200px;
    }

    .footer_content_container {
        margin: 4% 0% -1% 0%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    footer {
        padding: 0;
    }

    li {
        margin-bottom: 4%;
    }

    .information_container {
        margin-top: 7%;
        margin-bottom: 7%;
    }

    p {
        margin-left: 4%;
        margin-bottom: 7%;
    }

    .form_button i {
        display: contents;
    }

    .research {
        display: none;
    }

    li:hover {
        border-bottom: none;
    }
}